th {
  border: 2px double orangered;
  text-align: center;
  font-weight: bold;
  font-family: "Garamond", Helvetica, Serif;
  font-size: 28px;
  color: whitesmoke;
  text-shadow: 0 0 10px #000000;
}
th:nth-child(1) {
  border-width : 0;
}
td {
  border: 2px solid orange;
  text-align: center;
  font-family: "Garamond", Helvetica;
  font-size: 24px;
  color: whitesmoke;
  text-shadow: 0 0 10px #000000;
}
td:nth-child(1) {
  font-weight: bold;
  font-family: Serif;
}
h1 {
  text-align: center;
  font-size: 48px;
  color: gold;
}
.data {
  font-family: Sans-Serif;
  color: green;
}
.data:hover {
  background-color: green;
}
body {
  background-image: url(../assets/deep_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
img {
  width: 288px;
  height: 288px;
}