th, td {
  text-align: center;
  font-family: "Garamond", Helvetica;
  color: lavender;
}
th:nth-child(1) {
  border-width : 0;
}
td:nth-child(n + 2) {
  border: 2px solid orange;
  font-size: 18px;
  font-family: Sans-Serif;
}
td:nth-child(n + 2):hover {
  background-color: greenyellow;
  color: steelblue;
}
.labels {
  border: 2px double orangered;
  font-size: 22px;
  font-family: Serif;
  font-weight: bold;
  color: steelblue;
}
caption#title {
  text-align: center;
  font-size: 48px;
  color: gold;
}
body {
  background-image: url(../assets/deep_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
img {
  width: 288px;
  height: 288px;
}