th {
	border: 2px solid #123456;
  text-align: center;
  font-weight: bold;
  font-family: "Garamond", Helvetica, serif;
  color: whitesmoke;
  text-shadow: 0 0 5px #000000;
  }
td {
  border: 2px solid #123456;
  text-align: center;
  font-family: "Garamond", Helvetica, serif;
  color: whitesmoke;
  text-shadow: 0 0 5px #000000;
  }
td:nth-child(1) {
  font-weight: bold;
}
h1 {
  text-align: center;
  color: gold;
  font-size: 48px;
}
.data:hover {
  opacity: .5;
}

body {
  background-image: url(../assets/deep_space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
img {
  width: 288px;
  height: 288px;
}